.zbp-home{
  position: relative;
  height:100%;
  background: url("./images/public_bg.png") no-repeat center center;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  -moz-box-orient:vertical;
  -webkit-box-orient:vertical;
  box-orient:vertical;
  
  //导航
  header{
    padding-left:0.55rem;
    padding-right:0.55rem;
    padding-top:0.5rem;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    i{
      color: #ffffff;
      font-size:25px;
    }
  }
  //内容
  .zbp-home-container{
    position: relative;
    overflow: hidden;
    flex: 1;
    -webkit-flex: 1;
  }
}

